body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.morpion{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row{
  flex: 1;
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid black;
}
