h1 {
  text-align: center;
}
body {
  background-color: lightgrey;
}
div{
  width: 30%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #f1f7fe;
  background-color: #eff6fd;
  padding: 20px;
  padding-left: 50px;
  padding-top: 5px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 20px;
}
img {
  height: 50px;
  float: right;
  margin-top: auto;
  margin-right: 70px;
}
