/*Reset CSS*/
*{padding: 0;margin: 0; text-align: center; z-index: 2;}
img{max-width: 100%;}
body {font-size:12px; font-family:Verdana; background: rgb(131,131, 133);}
ul {list-style: none;}
a {text-decoration: none;}

header{ position: fixed; margin-top: 40px; width: 100%; float: top;}


#menu { width: 98%; max-width: 1000px; margin: auto; background-color: rgba(255, 255, 255, 0.3); height: 50px; text-align: left;}


#blason {top: -35px; position: absolute; max-width: 150px;}


nav ul{text-align: right;}
nav ul li{ display:inline-block; height: 18px; padding: 16px 20px 16px 20px; position: relative; }
nav a {color: black; font-size: 13px; font-weight: bold; text-transform: uppercase; }
nav ul li ul{ position: absolute; display:none; top: 50px; left: 0px; background-color:rgba(255, 255, 255, 0.3); padding: 5px; }
nav ul li:hover ul{display :block; }
nav ul li:hover {background:rgb(231, 47, 47) ;}
nav ul li ul li{ display: block; width: 150px; text-align: left; padding: 2px 15px 2px 15px;}
nav ul li ul li a{text-transform: none;}


.box_diapo{background: black;}
.diapo {position: absolute; top: 0px; left: 0px; width: 100%; display: none; z-index: 1;}


#haut_de_contenu {width: 98%; max-width: 1000px; margin: auto;}
#haut_de_contenu img{ width: 11.11%; float: left; margin-top: 20px; margin-bottom: 20px; filter: grayscale(100%); }
#haut_de_contenu img:hover {filter: none;}



#contenu {width: 98%; max-width: 1000px;margin: auto;}
h1 {color:rgb(231, 47, 47); padding-bottom: 20px;}
div>a {display: block;}
#text_contenu {padding-bottom: 30px; text-align: justify;}

#widgets {width: 98%; max-width: 1000px; margin: auto; height: 320px;position: relative;}
.twitter {width: 300px; max-height: 300px;position: relative; left:350px;float: left; display: inline-block;}
.video-contenu {width: 280px; height: 280px; position: absolute; right: 0px; background: rgb(41, 47, 51);margin: auto;float: left;padding: 10px; display: inline-block;}
div>p {text-align: left; color: rgb(231, 47, 47); position: relative;display: block; font-weight: bold;}
#video {position: relative; top: 65px; max-height: 150px; max-width: 280px;display: inline-block; }
.personnages {width: 280px; height: 280px; position: absolute; left: 0px; background: rgb(41, 47, 51); float: left; display: inline-block; padding: 10px}
.ww {top: 20px;}
.text_sous_image {text-align: left; color: white;padding-top: 35px}

footer {width: 98%; max-width: 1000px;margin: auto;height: 30px; max-height: 50px;padding-top: 10px; background:rgb(231, 47, 47);}
.pdp {color: grey;}

@media screen and (max-width: 400px){
	nav ul li {display: block; width: 100%;}
	#widgets {display: none;}
	#haut_de_contenu {display: none;}
}











